[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rdflib = "*"
aiohttp = "*"
sparqlwrapper = "*"
pytest = "*"
ollama = "*"
bs4 = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.11"
